<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--  移动端适配  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  CDN导入样式  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <!--  导入自定义css  -->
    <link rel="stylesheet" href="../../static/css/complement.css" th:href="@{/css/complement.css}">
    <title>标签管理</title>
</head>
<body>

    <!--导航-->
    <nav th:replace="admin/_fragments :: menu('标签')" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!-- stackable 可堆叠的，移动端的时候可自适应 -->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <!-- m-item 为选择器定位 -->
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>博客</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
               <div class="m-item right menu m-mobile-hide">
                   <div class="ui dropdown item">
                       <div class="text">
                           <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">
                           xxxx
                       </div>
                       <i class="dropdown icon"></i>
                       <div class="menu">
                           <a href="#" class="item">注销</a>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <!-- toggle没有样式，只是为了选择器定位 -->
        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" onclick="$('#add-btn').click()" class="item" id="menu-new">新增</a>
                <a href="#" th:href="@{/admin/tags}" class="active teal item" id="menu-list">列表</a>
            </div>
        </div>
    </div>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big" style="min-height: 60%">
        <!-- container 提供不同设备适配能力 -->
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}"></p>
            </div>
            <div class="ui success message" id="success-div" hidden>
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p id="success-msg"></p>
            </div>

            <table class="ui table">
                <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="type,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${type.name}">垃圾文</td>
                        <td>
                            <a href="#" class="ui mini teal basic button edit-btn" th:href="@{/admin/tags/{id}/input(id=${type.id})}"><i class="edit icon"></i>编辑</a>
                            <a href="#" class="ui mini red basic button" th:href="@{/admin/tags/{id}/delete(id=${type.id})}"><i class="trash icon"></i>删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui mini pagination menu"  th:if="${page.totalPages} > 1">
                                <a href="#" class="item" th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                                <a href="#" class="item" th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                            </div>
                            <a href="#" class="ui mini right floated teal basic button" id="add-btn">新增</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="ui modal" style="margin-top: -200px !important;">
        <i class="close icon" id="close-modal"></i>
        <div class="header">
            添加/修改
        </div>

        <div class="container m-padded-big">
            <form action="#" method="post" class="ui form" th:action="@{/admin/tags}">
                <input type="hidden" name="id" id="tag-id">
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">标签名称</label>
                        <!-- 输入框name应和封装的对象属性名一致 -->
                        <input type="text" name="name" placeholder="标签名称" id="tag-name">
                    </div>
                </div>

                <!-- validation error message -->
                <div class="ui error message" id="model-msg"></div>
                <!-- buttons -->
                <div class="ui right aligned container">
                    <!-- type默认是提交 -->
                    <button class="ui teal submit button" id="submit-btn" style="display: none !important;">添加</button>
                </div>
                <p th:text="${test}">xxx</p>
            </form>
        </div>

        <div class="actions">
            <div class="ui button" onclick="$('#close-modal').click()">取消</div>
            <div class="ui teal button" onclick="$('#submit-btn').click()">OK</div>
        </div>
    </div>

    <!--底部-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <!-- 样式之间顺序需要注意center aligned反过来不行 -->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img title="hello!" src="../../static/images/myblog.png" th:src="@{/images/myblog.png}" alt="Contact me" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div><div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">WeChat: xxxxx</a>
                        <a href="#" class="item">Mobile: xxxxx</a>
                        <a href="#" class="item">QQ: xxxxx</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Colm Alex</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">我也曾把光阴浪费甚至莽撞到视死如归，只因爱上你才渴望长命百岁。——陈小春《相依为命》</p>
                </div>
            </div>
            <!-- 分割线 -->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Colm Alex Design by Lirenmi Build by Colm Alex</p>
        </div>
    </footer>

    <!-- CDN导入jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!-- CDN导入js -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
        /* 弹出模态框，同时切换二级菜单 */
        $('#add-btn').click(function(){
            $('#menu-list').removeClass('active teal');
            $('#menu-new').addClass('active teal');
            $('.ui.modal').modal('show');
        });
        /* 关闭模态框，同时切换二级菜单 */
        // $('.close.icon').click(function(){
        $('#close-modal').click(function(){
            $('#menu-new').removeClass('active teal');
            $('#menu-list').addClass('active teal');
            $('#model-msg').hide();
        });

        /* 请求为：/tags/{id}/input 是修改功能的回显 */
        $('.edit-btn').each(function(){
            var _this = $(this);
            _this.on('click', function () {
                var url = $(this).attr('href');
                url = basePath + url;
                console.info("edit-url:", url);
                $.get(url, new Date(), function (data) {
                    $('.ui.modal').modal('show');
                    $('#tag-id').val(data.tag.id);

                    $('#tag-name').val(data.tag.name);
                    console.log("callback:", data.tag.id);
                });
                return false;
            });
        });

        /* 增加、修改共用 */
        $('#submit-btn').click(function () {
            var _name = $('#tag-name').val();
            if (_name == undefined || _name == ""){
                $('#model-msg').text("请输入标签名称").show();
                return false;
            }
            var action = $('.ui.form').attr('action');
            action = basePath + action;
            var args = {
                id : $('#tag-id').val(),
                name : _name
            };
            console.log('args:', args);
            console.info('form action:', action);
            $.post(action, args, function (data) {
                var keys = [];
                for(var key in data) {
                    keys.push(key);
                }
                if (keys.indexOf('error') != -1) {
                    // 此时含有 error
                    $('#model-msg').text(data.error).show();
                }
                if (keys.indexOf('message') != -1) {
                    // 此时含有 message
                    $('.close.icon').click();
                    $('#success-msg').text(data.message);
                    $('#success-div').show();
                    setTimeout(window.location.reload(), 1000);
                }
                console.log(data);
            });
            return false;
        });

        /* 这种只加了一个事件，是错误写法 */
       /* $('.edit-btn').click(function () {
            var url = $(this).attr('href');
            url = basePath + url;
            console.info("edit-url:", url);
            $.get(url, new Date(), function (data) {
                $('.ui.modal').modal('show');
                $('#tag-id').val(data.tag.id);

                $('#tag-name').val(data.tag.name);
                console.log("callback:", data.tag.id);
            });
            return false;
        });*/

       /* ajax不提交表单，所以表单校验没有用 */
        /* 表单校验 */
        // $('.ui.form').form({
        //     fields: {
        //         name: {
        //             identifier: 'name',
        //             rules: [{
        //                 type: 'empty',
        //                 prompt: '请输入标签名称'
        //             }]
        //         }
        //     }
        // });

        /* 关闭提示消息 */
        /* 注意选择器中间的空格 */
        $('.message .close').on('click', function() {
                $(this).closest('.message')
                    .transition('fade');
            });
    </script>
</body>
</html>
