<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <!--  移动端适配  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  CDN导入样式  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <!--  导入自定义css  -->
    <link rel="stylesheet" href="../static/css/complement.css" th:href="@{/css/complement.css}">
    <!-- 内容排版 -->
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <!-- 动画效果 -->
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <!-- 代码高亮 -->
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <!-- 目录生成 -->
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <title th:replace="${title}">博客详情</title>
</head>
<head th:fragment="head_simple(title)">
    <meta charset="UTF-8">
    <!--  移动端适配  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  CDN导入样式  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <!--  导入自定义css  -->
    <link rel="stylesheet" href="../static/css/complement.css" th:href="@{/css/complement.css}">
    <title th:replace="${title}">首页</title>
</head>
<body>

<!--导航-->
<nav th:fragment="menu(page)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!-- stackable 可堆叠的，移动端的时候可自适应 -->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" onclick="javascript:window.location.href='/'">Blog</h2>
            <!-- m-item 为选择器定位 -->
            <a href="#" th:href="@{/blogs}" class="m-item item m-mobile-hide" th:classappend="${page == '首页'} ? 'active'"><i class="small home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${page == '分类'} ? 'active'"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${page == '标签'} ? 'active'"><i class="small tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${page == '归档'} ? 'active'"><i class="small clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide" th:classappend="${page == '关于我'} ? 'active'"><i class="small info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <!-- 不加 icon 的话，图标显示与搜索框不是一个整体 -->
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" placeholder="Search..." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- toggle没有样式，只是为了选择器定位 -->
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!-- 样式之间顺序需要注意center aligned反过来不行 -->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img title="hello!" src="../static/images/myblog.png" th:src="@{/images/myblog.png}" alt="Contact me" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div><div class="three wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">WeChat: xxxxx</a>
                <a href="#" class="item">Mobile: xxxxx</a>
                <a href="#" class="item">QQ: xxxxx</a>
            </div>
        </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Colm Alex</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">我也曾把光阴浪费甚至莽撞到视死如归，只因爱上你才渴望长命百岁。——陈小春《相依为命》</p>
            </div>
        </div>
        <!-- 分割线 -->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Colm Alex Design by Lirenmi Build by Colm Alex</p>
    </div>
</footer>

<th:block th:fragment="script">
    <!-- 注意导入顺序，许多UI框架都需要先导入jQuery，Semantic UI也是这样 -->
    <!-- CDN导入jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!-- CDN导入js -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- 代码高亮 -->
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <!-- 目录生成 -->
    <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <!-- 二维码生成 -->
    <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <!-- 滚动效果 -->
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <!-- 滚动侦测 -->
    <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
</th:block>

</body>
</html>